.limit {
    max-width: 90rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .limit {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
