// Header.scss

.header {
    background: rgba(#000000, 0.3);

    .header-limit {
        background-color: rgba(#fcfbf7, 0.6);
        overflow: hidden;

        a {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            margin-bottom: 20px;

            span {
                display: flex;
                flex-direction: column;
                align-items: end;
            }

            img {
                display: block;
                object-fit: contain;
                max-width: 100%;
            }
        }
    }
}
